<h1>订购方的主页</h1>
<h1>以订购方的身份  purchase</h1>
<%= link_to '查看商家的价格', search_purchase_prices_path, method: :get %><br/>
<br/>
<%= link_to '查看订单', purchase_orders_path %>
<br/>
<%= link_to '发起订单', new_purchase_order_path %>